body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}

.transaction-table {
  width: 100%;
  border-collapse: collapse;
}

.transaction-table th, .transaction-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.transaction-table th {
  background-color: #f2f2f2;
}
.header {
  background-color: blue;
  text-align: center;
  color: white;
  font-size: 20px;
  height: 40px;
  padding: 8px;
  line-height: 40px;
}
.search {
  width: 100%;
  padding: 16px;
  width: 100%; 
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.transaction-form {
 width: 100%;
 margin-top: 5px;
 margin-bottom: 10px;
 border: 1px solid rgb(223, 200, 200);
}

.input {
  display: flex ; 
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

}

.form-input {
  flex: 1;
  margin-right:0;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
}
.date-input {
  width: calc(50% - 2.5px); /* Adjust width based on your preference */
  margin-right: 2.5px; /* Add a small margin between inputs */
}

.description-input {
  width: calc(50% - 2.5px); /* Adjust width based on your preference */
  margin-left: 2.5px; /* Add a small margin between inputs */
}
.submit-button {
  
  padding: 10px 20px;
  background-color: gray;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: auto; 
  margin-right: auto; 
  display: block;
  margin-bottom: 10px; 
}